{% extends 'layoutadmin.html' %}

{% block title %}Danh Sách Điểm Danh{% endblock %}

{% block content %}
<div class="container-fluid mx-auto p-5 mt-12" id="contlistnv">
    <h1 class="text-3xl font-semibold mb-4">Danh Sách Logs Phát Hiện Deepfake</h1>

    <!-- Logs Table -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="px-4 py-2">Mã Logs</th>
                <th class="px-4 py-2">Mã Logs Điểm Danh</th>
                <th class="px-4 py-2">Thời Gian Phát Hiện</th>
                <th class="px-4 py-2">Deepfake Score</th>
                <th class="px-4 py-2">Dự Đoán</th>
                <th class="px-4 py-2">Ảnh Phân Tích</th> <!-- Analyzed Photo Column -->
            </tr>
        </thead>
        <tbody id="deepfakeLogs">
            {% for log in logDeepfake %}
            <tr>
                <td class="px-4 py-2">{{ log.deepfake_log_id }}</td>
                <td class="px-4 py-2">{{ log.log_id }}</td>
                <td class="px-4 py-2">{{ log.detection_time }}</td>
                <td class="px-4 py-2">{{ log.deepfake_score }}</td>
                <td class="px-4 py-2">{{ log.prediction }}</td>
                <td class="px-4 py-2">
                    <img src="{{ log.photo_analyzed }}" alt="Analyzed Photo" style="width:100px; height:auto;">
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="px-4 py-2 text-center">No deepfake logs available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
